* {
    margin: 0px;
    padding: 5px;
    background-color: #f7fccc;

}

.text {

    text-align: center;
}

.ttu {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
}

.printer-ticket {
    display: table !important;
    width: 100%;
    max-width: 400px;
    font-weight: light;
    line-height: 1.3em;
    padding: 5px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
}

th {
    font-weight: inherit;
    padding: 5px;
    text-align: center;
    border-bottom: 1px dashed #BCBCBC;
}

.cor {
    color: #BCBCBC;
}


.title {
    font-size: 1.5em;
    text-align: center;
}

.margem-superior {
    padding-top: 25px;
}